.call-me__form {
  margin: 0 auto;
  padding-top: 40px;
  padding-left: 20px;
  box-sizing: border-box;

  @media (min-width: 768px) {
    padding-top: 74px;
    padding-left: 45px;
    padding-right: 45px;
  }

  @media (min-width: 1600px) {
    width: 381px;
    height: 444px;
    padding-top: 45px;
    padding-left: 65px;
    padding-right: 65px;
    margin-left: auto;
    margin-right: 0;
  }

}

.call-me__title {
  @include font;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  opacity: 0.6;
  margin-bottom: 47px;
  margin-left: 25px;
  width: 200px;

  @media (min-width: 768px) and (max-width:1600px) {
    width: 350px;
    font-size: 30px;
    line-height: 43px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 71px;
  }


}

.call-me {
  width: 288px;
  height: 426px;
  background-color: $main-color;
  margin: 0;
  padding: 0;
  position: absolute;
  left: calc(50% - 144px);

  @media (min-width: 768px) {
    width: 464px;
    height: 640px;
    left: calc(50% - 232px);
  }

  @media (min-width: 1600px) {
    width: 716px;
    height: 444px;
    left: calc(50% - 368px);
    background-image: url(../img/pop-up.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;
  }

}

.call-me__input {
  outline: none;
  width: 248.86px;
  height: 43.85px;
  border: 1px solid rgba(246, 246, 249, 0.2);
  box-sizing: border-box;
  margin: 0 auto 16.45px;
  background-color: transparent;
  padding-left: 20px;

  @include placeholder {
    @include font;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: -0.01em;
    opacity: 0.6;

    @media (min-width: 768px) and (max-width: 1600px) {
      font-size: 20px;
      line-height: 22px;
    }
  }

  @media (min-width: 768px) and (max-width: 1600px) {
    width: 374.87px;
    height: 65.88px;
    margin-bottom: 24.71px;
    padding-left: 32px;
  }

}

.call-me__btn {
  @include button-white-hover;
  background: #FFFFFF;
  @include font;
  font-size: 12px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 0.10em;
  text-transform: uppercase;
  color: #000000;
  border: none;
  padding: 16px 72px 15px 73px;
  outline: none;
  margin-top: 11px;
  margin-left: -1px;

  @media (min-width: 768px) and (max-width:1600px) {
    margin-top: 16px;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.15em;
    padding: 24px 118px 25px 116px;
  }
}

.call-me__close {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;

  &::before {
    content: '';
    width: 29px;
    height: 1px;
    background-color: rgba(246, 246, 249, 0.6);
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
    left: -3px;
  }

  &::after {
    content: '';
    width: 29px;
    height: 1px;
    background-color: rgba(246, 246, 249, 0.6);
    transform: rotate(-45deg);
    position: absolute;
    top: 10px;
    left: -3px;
  }

  @media (min-width: 768px) {
    top: 40px;
    right: 40px;
  }

  @media (min-width: 1600px) {
    top: 22.5px;
    right: 24.5px;
  }

}