.catalog__title {
    @include title;
    margin-bottom: 21px;
    margin-left: 16px;

    @media (min-width: 768px) {
        @include title-tablet;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        margin-bottom: 53px;

        &::after {
            display: block;
            content: '';
            width: 86px;
            height: 2px;
            border-radius: 2px;
            background-color: #fff;
            opacity: 0.8;
            position: absolute;
            top: 55px;
            left: calc(50% - 56px);
        }
    }

    @media (min-width: 1600px) {
        margin-bottom: 121px;
    }

}

.catalog {
    padding-top: 99px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 90px;

    position: relative;



    @media (min-width: 1600px) {
        padding-top: 188px;
        padding-left: 26px;

        &::before {
            content: 'Каталог услуг';
            color: #fff;
            opacity: 0.03;
            font-size: 220px;
            line-height: 243px;
            text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            position: absolute;
            left: 131px;
            top: 207px;
            z-index: 0;
        }

    }
}

.catalog__list {
    @include list;
    display: flex;
    position: relative;
    z-index: 1;


    @media (min-width: 768px) {
        justify-content: space-between;
        margin: 0 26px 10px 25px;
    }

    @media (min-width: 1600px) {
        margin: 0 auto;
        width: 1500px;

    }
}

.catalog__link {
    @include link;
}

.catalog__btn {
    display: none;
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #000000;
    border: none;
    padding: 19px 38px 18px 40px;
    outline: none;

}

.catalog__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 170%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: 278px;
    margin-left: 20px;
    position: absolute;
    bottom: 0;
    opacity: 0.9;

    @media (min-width: 768px) {
        margin-top: 317px;
    }

}

.catalog__item {
    box-sizing: border-box;
    width: 289px;
    height: 392px;
    background-size: 100%;
    padding-top: 23px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    // &:hover,
    &:focus,
    &:active {
        outline: 1px solid rgba(255, 255, 255, 0.2);
        outline-offset: 10px;
        cursor: pointer;

        .catalog__btn {
            display: block;
            position: absolute;
            bottom: 20px;
            left: 20px;
        }

        .catalog__text {
            margin-bottom: 90px;
        }
    }

    @media (min-width: 768px) {
        padding-top: 42px;
        width: 330px;
        height: 450px;
    }

    @media (min-width: 1600px) {
        margin: 0;
    }


    &-bride {
        background-image: url(../img/img_bride.jpg);

        @media (min-width: 768px) {
            display: block;

        }
    }

    &-triumph {
        background-image: url(../img/img_triumph.jpg);
        display: none;

        @media (min-width: 768px) {
            display: block;
        }
    }

    &-composition {
        background-image: url(../img/img_composition.jpg);
        display: none;

        @media (min-width: 1600px) {
            display: block;
        }
    }

    &-events {
        background-image: url(../img/img_events.jpg);
        display: none;

        @media (min-width: 1600px) {
            display: block;
        }
    }
}

.catalog__number {
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    padding-left: 100px;
    position: relative;
    opacity: 0.9;
    outline: none;
    margin: 0;

    &::before {
        display: block;
        content: '';
        width: 70px;
        height: 2px;
        background-color: #fff;
        opacity: 0.8;
        position: absolute;
        top: 10px;
        left: 20px;
    }

    @media (min-width: 768px) {
        padding-left: 20px;

        &::before {
            display: none;
        }

        &::after {
            display: block;
            content: '';
            width: 70px;
            height: 2px;
            background-color: #fff;
            opacity: 0.8;
            position: absolute;
            top: 10px;
            left: 50px;
        }

    }
}

.catalog__slider {
    @include list;
    display: flex;
    justify-content: space-between;
    width: 288px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 1600px) {
        display: none;
    }
}

.catalog__button {
    background-color: transparent;
    width: 63px;
    height: 30px;
    position: relative;
    border: none;

    &::after {
        display: block;
        content: '';
        width: 62px;
        height: 3px;
        border-radius: 2px;
        background-color: #fff;
        opacity: 0.8;
        position: absolute;
        top: 20px;
        left: 0px;
    }

}