.catalog__title {
    @include title;
    margin-bottom: 21px;
    margin-left: 16px;

    @media (min-width: 768px) {
        @include title-tablet;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        margin-bottom: 53px;

        &::after {
            display: block;
            content: '';
            width: 86px;
            height: 2px;
            border-radius: 2px;
            background-color: #fff;
            opacity: 0.8;
            position: absolute;
            top: 55px;
            left: calc(50% - 56px);
        }
    }

}

.catalog {
    margin-top: 99px;
    margin-left: auto;
    margin-right: auto;
}

.catalog__list {
    @include list;
    display: flex;


    @media (min-width: 768px) {
        justify-content: space-between;
        margin: 0 26px 10px 25px;

    }
}

.catalog__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 170%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: 278px;
    margin-left: 20px;

    @media (min-width: 768px) {
        margin-top: 317px;
    }

}

.catalog__item {
    box-sizing: border-box;
    width: 289px;
    height: 392px;
    background-size: 100%;
    padding-top: 23px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 768px) {
        padding-top: 42px;
        width: 330px;
        height: 450px;
    }


    &-bride {
        background-image: url(../img/img_bride.jpg);

        @media (min-width: 768px) {
            display: block;

        }
    }

    &-triumph {
        background-image: url(../img/img_triumph.jpg);
        display: none;

        @media (min-width: 768px) {
            display: block;
        }
    }

    &-composition {
        background-image: url(../img/img_composition.jpg);
        display: none;
    }

    &-events {
        background-image: url(../img/img_events.jpg);
        display: none;
    }
}

.catalog__number {
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    padding-left: 100px;
    position: relative;

    &::before {
        display: block;
        content: '';
        width: 70px;
        height: 2px;
        background-color: #fff;
        opacity: 0.8;
        position: absolute;
        top: 10px;
        left: 20px;
    }

    @media (min-width: 768px) {
        padding-left: 20px;

        &::before {
            display: none;
        }

        &::after {
            display: block;
            content: '';
            width: 70px;
            height: 2px;
            background-color: #fff;
            opacity: 0.8;
            position: absolute;
            top: 10px;
            left: 50px;
        }

    }
}

.catalog__slider {
    @include list;
    display: flex;
    justify-content: space-between;
    width: 288px;
    margin-left: auto;
    margin-right: auto;
}

.catalog__button {
    background-color: transparent;
    width: 63px;
    height: 30px;
    position: relative;
    border: none;

    &::after {
        display: block;
        content: '';
        width: 62px;
        height: 3px;
        border-radius: 2px;
        background-color: #fff;
        opacity: 0.8;
        position: absolute;
        top: 20px;
        left: 0px;
    }

}