.footer {
    padding: 35px 16px 28px;
    position: relative;


    &::before {
        display: block;
        content: '';
        width: 288px;
        height: 2px;
        border-radius: 2px;
        background-color: #fff;
        opacity: 0.5;
        position: absolute;
        top: 9px;
        left: 16px;
    }

    @media (min-width: 768px) {
        padding-top: 49px;

        &::before {
            width: 730px;
        }
    }

    @media (min-width: 1600px) {
        padding-top: 30px;

        &::before {
            width: 97.2%;
        }
    }
}

.footer__list {
    @include list;
    text-align: center;
    margin-bottom: 32px;

    @media (min-width: 1600px) {
        display: flex;
        justify-content: space-between;
        width: 53%;
        margin: 0 auto;
    }

}

.footer__link {
    @include hover;
    @include link;
    @include font;
    font-size: 16px;
    line-height: 29px;
    text-align: center;
    opacity: 0.5;

    @media (min-width: 768px) {
        font-size: 20px;
        line-height: 22px;
    }

    @media (min-width: 1600px){
        font-size: 16px;
        line-height: 18px;
        opacity: 0.5;
    }

}

.footer__item {
    @media (min-width: 768px) {
        margin-bottom: 20px;
    }

    @media (min-width: 1600px) {
        margin-left: 6px;
    }
}

.footer__social {
    width: 288px;

    @media (min-width: 768px) {
        margin: 0 auto;

    }

    @media (min-width: 1600px) {
        width: 280px;

    }
}