.projects__title{
    font-size: $biggest-title-mobile;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    width: 240px;
    margin: 0 auto 33px;
    font-family: Playfair Display;
    line-height: 42px;
    letter-spacing: 1px;

}

.projects{
    background-image: url('../img/header_img_mobile.jpg');
    padding-top: 105px;
    padding-bottom: 89px;
}

.projects__btn{
    background-color: rgba($color: #000000, $alpha: 0.4);
    border: 1px solid #ffffff;
    color: rgba($color: #ffffff, $alpha: 0.6);
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 400;
    font-family: $main-font;
    letter-spacing: 0.15em;
    margin: 0 calc(50% - 88px) 70px;
    padding-top: 19px;
    padding-bottom: 18px;
    width: 177px;

}