.social__list{
    list-style:none;
    display: flex;
    justify-content: space-between;
    width:81%;
    margin:0 auto;
    padding:0;

    &--footer{
        width:90.5%;
        margin-left: 10px;  
    }

    @media (min-width: 768px){
        width:60%;

        &--footer{
            width:98%;
            margin-left: 0px;  
        }
    }

    @media (min-width: 1600px){
       
        &--footer{
            width:98%;
            margin-left: 8px;
            margin-top: -7px;
        }
    }
}

.social__icon{
    color: #fff;
    background-color:transparent;
    position: absolute;
    top: 8px;
    left: 8px;

    @media (min-width: 768px){
        width: 28px;
        height: 28px;
        top: 14px;
        left: 15px;
    }
    @media (min-width: 1600px){
        width: 25px;
        height: 25px;
 
    }
}

.social__link{
    display: block;
    background-color:$main-color;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;

    @media (min-width: 768px){
        width:55px;
        height: 55px;
    }

    @media (min-width: 1600px){
        background-color: transparent;
        width:49px;
        height: 49px;
    }
}


