.stock {
    padding: 0 16px;
    margin-bottom: 90px;

    @media (min-width: 768px) {
        padding: 0 0;
    }
    @media (min-width: 1600px) {
       display: flex;
       justify-content: space-between;
       flex-direction: row-reverse;
       padding: 80px 315px;
       margin-bottom: 76px;
    }

}

.stock__picture {
    width: 100%;
    margin-bottom: 20px;
    display: block;

    @media (min-width: 768px) {
        width: 453px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 35px;
    }

    @media (min-width: 1600px) {
        width: 697px;
        margin: 0;
    }
}

.stock__title {
    @include title;
    @include font;
    margin-bottom: 41px;
    width: 50%;
    position: relative;

    &::after {
        display: block;
        content: '';
        width: 85.5px;
        height: 2px;
        border-radius: 2px;
        background-color: #fff;
        opacity: 0.8;
        position: absolute;
        top: 88px;
        left: 0px;
    }

    @media (min-width: 768px){
        @include title-tablet;
        width: 100%;
        margin-bottom: 64px;

        &::after{
            top: 56px;
            left: calc(50% - 38px);  
        }
    }

    @media (min-width: 1600px){
        text-align: left;
        padding-left: 58px;
        width: 220px;
        line-height: 170%;
        margin-bottom: 40px;

        &::after{
            top: 116px;
            left: 60px;  
        }
    }
}

.stock__text {
    @include font;
    font-size: 14px;
    line-height: 172%;
    margin-bottom: 40px;
    opacity: 0.6;

    @media (min-width: 768px){
        width: 55%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
    }

    @media (min-width: 1600px){
        width: 60%;
        text-align: left;
        margin-left: 59px;
        margin-bottom: 45px;
    }
}

.stock__btn {
    @include button-hover;
    @include button-focus;
    @include font;
    outline: none;
    background-color: rgba($color: #000000, $alpha: 1);
    border: 1px solid #000000;
    opacity: 0.6;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 12px;
    letter-spacing: 0.15em;
    padding-top: 17px;
    padding-bottom: 19px;
    padding-left: 10px;
    width: 220px;

    @media (min-width: 768px){
        margin-left: 280px;
        padding-top: 16px;
        padding-bottom: 15px;
    }

    @media (min-width: 1600px){
        @include button-hover-dst;
        @include button-focus-dst;
        margin-left: 60px;
        padding-left: 0px;
    }
}

.stock_description{
    @media (min-width: 1600px) {
       width: 550px;
       padding-top: 65px;
    }
}