.body {
    background-color: $main-color;
    font-family: $main-font;
    color: #fff;
    width: 320px;
    margin: 0 calc(50% - 160px);
    padding: 0;

    @media (min-width: 768px) {
        width: 768px;
        margin: 0 calc(50% - 384px);
    }

    @media (min-width: 1600px){
        width: 100%;
        margin: 0;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

