.body {
    background-color: $main-color;
    font-family: $main-font;
    width: 320px;
    margin: 0 calc(50% - 160px);
    padding: 0;
    border: 1px solid white;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  