@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin list {
  list-style: none;
  padding: 0;
  margin: 0;

}

@mixin link {
  text-decoration: none;
  color: #FFFFFF;
}

@mixin title {
  font-family: $main-font;
  font-weight: 400;
  margin: 0;
  font-size: 20px;
  line-height: 170%;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@mixin title-tablet{
  font-size: 30px;
  line-height: 33px;
  letter-spacing: 0.06em;
  text-align: center;
}

@mixin button-hover-dst{
  &:hover,
  &:focus,
  &:active{
    background-color:#FFFFFF;
    color: #000000;
  }
}

@mixin button-hover{
  &:hover,
  &:focus,
  &:active{
    background-color:#3B181E;
    color: #FFFFFF;
    border-color: #FFFFFF;
    cursor: pointer;  
  }
}

@mixin button-white-hover{
  &:hover,
  &:focus,
  &:active{
    opacity: 0.8;
    cursor: pointer;  
  }
}

@mixin hover {
  &:focus,
  &:active,
  &:hover{
    opacity: 1;
    outline: none;
    cursor: pointer;
  }  
}

@mixin button-focus-dst{
  &:focus,
  &:active{
    opacity: 0.6;
  }
}

@mixin button-focus{
  &:focus,
  &:active{
    opacity: 0.6; 
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }  
}

// @mixin title-big {
//   font-size: 43px;
//   font-weight: 700;
//   line-height: 50px;
//   margin: 0;
// }

// @mixin title-bigest {
//   font-size: 53px;
//   font-weight: 700;
//   line-height: 57px;
//   text-align: center;
//   margin-top: 0;
// }

// @mixin subtitle {
//   color: #63d1bb;
//   font-size: 17px;
//   font-weight: 700;
//   line-height: 20px;
//   text-transform: uppercase;
//   margin: 0;
// }


// @mixin text {
//   color: $gray;
//   font-family: "Open Sans";
//   font-size: 15px;
//   font-weight: 400;
//   margin: 0;
// }

// @mixin text-big {
//   color: $gray;
//   font-family: "Open Sans";
//   font-size: 17px;
//   font-weight: 400;
//   line-height: 30px;
//   margin: 0;
// }

// @mixin hidden-input {
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   appearance: none;
//   position: absolute;
// }